<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.dapurku.dapurku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgetPassword" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".ListMakanan" />
        <activity android:name=".ListMakana" />
        <activity android:name=".DesMakanan" />
        <activity android:name=".VerifikasiActivity" />
        <activity android:name=".ProfileTokoActivity" />
        <activity android:name=".Chart" />
        <activity android:name=".ListChart" />
        <activity android:name=".recycleview_toko" />
        <activity android:name=".list_Toko" />
        <activity android:name=".AddNewFood" />
        <activity android:name=".DaftarMakananSaya" />
        <activity android:name=".SplashScreen"></activity>
    </application>

</manifest>